#content{
	border: 2px solid black;
	width: 700px;
	height: 70px;
	margin: 0px auto;
	text-align: center;
}
#content > img{
	border-radius: 75px;
	width: 150px;
	height: 150px;
}

#menu{
	border: 1px solid black;
	margin: 0px auto;
	
}